@import url("https://fonts.googleapis.com/css?family=Merriweather");
body {
  font-family: Merriweather, arial, sans-serif !important; }

.navbar {
  background-color: white !important; }

.logo_styling {
  color: #74c6f7;
  font-weight: bold; }

.decorative_line1 {
  border: 1px solid #e5e5e5; }

.decorative_line2 {
  border: 1px solid #f1f1f1; }

.todo_container {
  padding-top: 2rem; }
  .todo_container h2 {
    padding-bottom: 10px; }

.info_tasks_box, .info_completed_tasks_box {
  border-radius: 5px;
  color: white;
  background-color: #22a4f2;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px; }
  .info_tasks_box h6, .info_completed_tasks_box h6 {
    font-weight: bold; }

.info_completed_tasks_box {
  background-color: #2ac772; }

.todo_list {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
  align-items: align-left; }

.bottom-padding {
  padding-bottom: 10px; }

.todo {
  display: block;
  width: 320px;
  min-height: 100px;
  border-radius: 5px;
  border: 0.5px solid #e5e5e5;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: grey; }
  .todo ._success {
    display: flex;
    font-size: 90%;
    color: #2ac772; }
  .todo ._bold {
    display: flex;
    font-weight: bold;
    font-size: 140%;
    page-break-after: always;
    padding-bottom: 8px; }
  .todo ._standard {
    display: flex;
    font-size: 90%;
    color: lightgrey; }
  .todo ._center {
    padding-top: 18px;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center; }

@media (min-width: 450px) {
  .todo {
    width: 360px; } }

@media (min-width: 650px) {
  .container {
    min-width: 80%; }
  .todo_container {
    padding-top: 4rem; }
  .info_tasks_box, .info_completed_tasks_box {
    padding-top: 20px;
    padding-left: 20px; }
  .todo {
    width: 100%;
    max-width: 360px; }
  .todo_list {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: align-left; }
  .bottom-padding {
    padding-bottom: 25px; } }
