@import url('https://fonts.googleapis.com/css?family=Merriweather');

$font_family_override: Merriweather, arial, sans-serif !important;

$mostly_white_color: #e5e5e5;
$logo_blue_color: #74c6f7;
$info_blue_color: #22a4f2;
$green_color: #2ac772;
$grey_color: grey;
$light_grey_color: lightgrey;

body {
  font-family: $font_family_override;
}

// Navbar
.navbar {
  background-color: white !important;
}

.logo_styling {
  color: $logo_blue_color;
  font-weight: bold;
}

.decorative_line1 {
  border: 1px solid $mostly_white_color;
}

.decorative_line2 {
  border: 1px solid #f1f1f1;
}

// Todo
.todo_container {
  padding-top: 2rem;
  h2 {
    padding-bottom: 10px;
  }
}

.info_tasks_box {
  border-radius: 5px;
  color: white;
  background-color: $info_blue_color;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  h6 {
    font-weight: bold;
  }
}

.info_completed_tasks_box {
  @extend .info_tasks_box;
  background-color: $green_color;
}

.todo_list {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
  align-items: align-left;
}

.bottom-padding {
  padding-bottom: 10px;
}

.todo {
  display: block;
  width: 320px;
  min-height: 100px;
  border-radius: 5px;
  border: 0.5px solid $mostly_white_color;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: $grey_color;
  ._success {
    display: flex;
    font-size: 90%;
    color: $green_color;
  }
  ._bold {
    display: flex;
    font-weight: bold;
    font-size: 140%;
    page-break-after: always;
    padding-bottom: 8px;
  }
  ._standard{
    display: flex;
    font-size: 90%;
    color: $light_grey_color;
  }
  ._center {
    padding-top: 18px;
    color: $light_grey_color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(min-width: 450px) {
  .todo {
    width: 360px;
  }
}

// laptop, desktop, tablets if people still use them
@media(min-width: 650px) {
  .container {
    min-width: 80%;
  }
  .todo_container {
    padding-top: 4rem;
  }
  .info_tasks_box {
    padding-top: 20px;
    padding-left: 20px;
  }
  .info_completed_tasks_box {

  }
  .todo {
    width: 100%;
    max-width:360px;
  }
  .todo_list {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: align-left;
  }
  .bottom-padding {
    padding-bottom: 25px;
  }
}
